<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Create Recipe</title>
</head>
<body>
        <div>
            {% with messages = get_flashed_messages() %}
            <!-- declare a variable called messages -->
            {% if messages %}
            <!-- check if there are any messages -->
            {% for message in messages %}
            <!-- loop through the messages -->
            <p class="error">{{message}}</p> <!-- display each message in a paragraph tag -->
            {% endfor %}
            {% endif %}

            {% endwith %}
            <form action="/create" method="POST">
                <!-- name -->
                <label for="name">
                    Recipe Name:
                </label>
                <input type="text" name="name">
                <br>
                <!-- description -->
                <label for="description">
                    Description:
                </label>
                <input type="text" name="description">
                <br>
                <!-- instructions-->
                <label for="instructions">
                    Instructions
                </label> 
                <textarea cols="5" rows="5" name="instructions" placeholder="Talk to me..">
                </textarea>
                <br>
                <!-- other_date -->
                <label for="other_date">
                    <input type="date" name="other_date"/>
                </label>
                <!-- under_thirty-->
                Under 30?
                <br>
                <label for="yes" class="inline">
                    Yes
                    <input type="radio" class="inline" name="under_30" id="yes" value="Y" required="required">
                </label>
                
                <label for="no" class="inline">
                    No
                    <input type="radio" class="inline" name="under_30" id="no" value="N">
                </label>
                <!-- creator_id -->
                <input type="hidden" name="user_id" value="{{session['user_id']}}">
                <!-- submit -->
                <input type="submit" value="Yummy!">
            </form>
        </div>
</body>
</html>